html {
    background-color: white;
}

ul {
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    margin-inline-start: 16px;
    list-style: none;
}

/* Navigation Bar */
.navbar {
    background-color: lavenderblush;
    padding: 4px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* Consistent Font */
a:link, a, p, h1, li {
    text-decoration: none;
    color: #D291BC;
    font-family: sans-serif;
    text-align: center;
}

/* About */
.about {
    font-family: sans-serif;
    color: #D291BC;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 8em;
    width: 100%;
    height: 100%;
}

.about-content {
    margin-top: 5em;
    font-size: 150%;
    border: 1px solid;
    border-radius: 50px;
    padding: 4em;
}

a:hover {
    opacity: 0.5;
}

@keyframes bouncy {
    0% {top:0em;}
    40% {top:0em;}
    43%{top:-0.9em;}
    46% {top:0em;}
    48%{top:-0.4em;}
    50%{top:0em;}
    100%{top:0em;}
}

.resume {
    animation: bouncy 5s infinite linear;
    position: relative;
    background-color: #D291BC;
    color: lavenderblush;
    font-size: 24px;
    border: none;
    padding: 4px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px 0px gray;
}

.resume:hover {
    background-color: lavenderblush;
    color: #D291BC;
    border: 1.5px solid;
    border-color: #D291BC;
    box-shadow: none;
}

/* Projects */
.proj {
    background-color: lavenderblush;
}

.proj-content {
    border: 1px solid;
    border-radius: 50px;
    border-color: #D291BC;
    text-align: center;
}

/* Contact */
.contact {
    margin-top: 5em;
    margin-bottom: 8em;
}

/* Footer */
.footer {
    text-align: center;
    padding-top: 20px;
    clear: both;
    margin-top: 5em;
}

.footer img {
    display: inline block;
    margin: 8px;
}

.footer img:hover {
    opacity: 0.5;
}

/*Dropdown Button
.dropbutton {
    background-color: lavenderblush;
    color: #D291BC;
    font-size: 24px;
    border: solid;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 0px 15px 0px 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: lavenderblush;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #D291BC;
    padding: 12px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    color: #D291BC;
}*/